/Binaries
/Build
/Config/*.json
/DerivedDataCache
/Intermediate
/Saved
.vs/
Plugins/*/Binaries/
Plugins/*/Intermediate/
*.sln
/web360info
*.exe
/Content/Megascans
/Content/MSPresets
/Viewditor
/ELYPECS
/Plugins/ELYPECS
*_BuiltData.uasset
/Config
/Plugins/Developer/
/.idea

